* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: sans-serif;
}

.sidebar {
  background-color: hsl(30, 4%, 89%);
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 80px 20px;
  z-index: 10;
}

main {
  margin-left: 239px;
}

p {
  line-height: 1.4em;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav a {
  color: #222;
  font-size: 20px;
  text-decoration: none;
}

.gradient-container {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
}

.gradient {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gold-black {
  background: linear-gradient(180deg, hwb(51 4% 20%) 20%, hsl(0 0% 0%) 90%);
}

.dark-ocean {
  background: linear-gradient(180deg, hsl(240, 90%, 40%), hsl(0 0% 0%) 90%);
}

h2 {
  font-size: 120px;
  color: hsla(0, 0%, 91%, 0.9);
  text-shadow: 0 0 5px 10px;
}

.hotstar {
  background: linear-gradient(135deg, #00a0ff, #e608a9);
}

.sunset {
  background: radial-gradient(
    hsl(55 100% 68% / 90%) 10%,
    hsl(29 100% 60% / 1) 40%,
    hsl(29 100% 45% / 1) 70%,
    hsl(29 90% 35% / 1) 100%
  );
}

.sunset h2 {
  color: #444;
}

.brown-creame {
  background: linear-gradient(
    180deg,
    hsl(30 91% 35% / 1) 50%,
    hsl(0 10% 94% / 1) 50%
  );
}

.blue-white {
  background: linear-gradient(
    180deg,
    hsl(189, 100%, 50%) 50%,
    hsl(0 10% 94% / 1) 50%
  );
}

.green-navy {
  background: linear-gradient(180deg, #029894, #d1f1f4);
}

.active {
  background-color: aliceblue;
  padding: 5px;
  border-radius: 5px;
}
